<%- include('partials/header', { userIsLoggedIn: userIsLoggedIn, loggedInUsername: loggedInUsername }) %>

  <div class="container bootstrap snippets bootdey">
    <section class="articles">
      <ul class="article_ul">
        <h1>Senaste inläggen:</h1>
        <br>
      </ul>
      <ul class="article_ul">
        <% if (posts && posts.length> 0) { %>
          <% for (const post of posts) { %>
            <div class="postwrapper">
              <div class="flex-grid">
                <h2>
                  <%= post.title %>
                </h2>
                <br>
                <p>

                  <%= post.content %>
                </p>
              </div>

              <div class="flex-under">
                <div class="tabort">
                  <% if (post.createdBy===loggedInUsername || userIsAdmin) { %>
                    <button type="button" class="tabort-btn" onclick="confirmDelete('<%= post._id %>')">Ta bort
                      inlägg</button>

                    <% } %>
                </div>

                <div class="post-creator">
                  <i>
                    <p>Skapad av: <%= post.createdBy %>
                    </p>
                  </i>
                </div>

                <div class="post-date">
                  <p>
                    <%= post.createdAt.toLocaleString('sv-SE', { hour: 'numeric' , minute: 'numeric' , year: 'numeric' ,
                      month: '2-digit' , day: '2-digit' }) %>

                  </p>
                </div>
              </div>
            </div>

            <script>

              async function confirmDelete(postId) {
                try {
                  var confirmation = confirm("Är du säker på att du vill ta bort detta inlägg?");
                  if (confirmation) {
                    const response = await fetch(`/newpost/${postId}`,
                      {
                        method: 'DELETE',
                        credentials: 'include', // Inkludera cookies)
                      }
                    );
                    if (response.ok) {
                      window.location.reload();
                    } else {
                      throw new Error("Failed to delete post");
                    }
                  }
                } catch (error) {
                  console.error(error)
                }
              }

            </script>
            <hr>
            <% } %>
              <% } else { %>
                <p>Inga inlägg att visa.</p>
                <% } %>
      </ul>
    </section>
  </div>
  </body>
  <%- include('partials/footer') %>